body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    padding: 40px 20px;
}

.logo img {
    height: 50px;
}

.title {
    font-size: 24px;
    color: #f08080;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #f08080;
    font-size: 18px;
}


.img{
    background-size: cover;
    background-position: center;
   
}

.img img{
  width: 100%;        /* Makes the image fill the width of its container */
  height: auto;       /* Keeps the image’s aspect ratio intact */
  max-height: 80vh;   /* Prevents the image from becoming too tall */
  object-fit: cover;  /* Ensures the image covers the entire container */
  display: block;     /* Removes any extra space below the image */
  margin: 0 auto; 
  opacity: 0.7;
}


.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text {
    flex: 1;
}

.image {
    flex: 1;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;

}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}


.ftr1{
    background-color: grey;
    padding: 6px;
}






@media (max-width: 600px) {
   

    .navbar ul li {
        display: none;
    }

    .title{
        padding-right: 35px;
        color: #f08080;
    }


}