body{
    padding: o;
    margin: 0;
    background-color: #f8f7f7;
    font-family: sans-serif;
    font-size: 13px;
}

.logo{
    float: left;
}

.logo img{
    width: 80px;
    padding-top: 20px;
}


.header{
   
    background-color: #f5f5f5;
    height: 110px;
   
}


.tagline ul li h4{
    color: #f08080;
    text-decoration: none;
}

h2{
    color: #f08080;
    text-align: center;
}


h5{
    color: rgb(20, 20, 36);
    text-align: center;
    margin-bottom: 80px;
}
.bg-image img{
    width: 100%;
    margin-bottom: 20px;
}

.bg-image{
    justify-content: center;
    align-items: center;
}

.about-sec h2{
    color: black;
}


.highlight{
    color: #f08080;
}

.about-sec{
    text-align: center;
}

.navigate ul li{
   
    padding-bottom: 50px;
    display: inline-block;
    list-style: none;  
}

.mission-boxes {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .mission-box {
    width: calc(33% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
  }

  
  .mission-box i {
    font-size: 3em;
    color: #f08080;
    margin-bottom: 10px;
   
  }

  .mission-box img{
    font-size: 3em;
    color: #f08080;
    margin-bottom: 10px;
  }
  
  .mission-box h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  .mission{
    padding: 6px;
  }

  .health{
    background-color: rgb(225, 217, 217);
    padding: 8px;
  }

  .health img{
    width: 100%;
  }

  .agric{
    background-color: rgb(196, 192, 192);
    padding: 8px;
  }

  .agric img{
    width: 100%;
  }

  .tech{
    background-color: rgb(165, 154, 154);
    padding: 8px;
  }
  
  .tech img{
    width: 100%;
  }

  .water{
    background-color: rgb(147, 133, 133);
    padding: 8px;
  }

  .water img{
    width: 100%;
  }


  .image-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }

  .grid img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }

  .about-us{
    background-color: rgb(219, 200, 200);
    padding: 6px;
  }

  .about-us h3{
    text-align: center;
    color: #f08080;
  }

 .objectives{
    background-color: rgb(219, 200, 200);
    padding: 6px; 
 }

 .objectives h3{
    color: #f08080;
 }


 .news img{
    width: 100%;
 }

